<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <!-- Logo en la parte izquierda -->
        <div class="col-12 col-md-3 d-flex justify-content-end footer__logo-container">
          <div class="footer__logo">
            <img src="/src/assets/images/logo.png" alt="Logo" class="img-fluid">
          </div>
        </div>

        <!-- Navegación en el centro -->
        <div class="col-12 col-md-6 d-flex justify-content-center">
          <nav class="footer__nav">
            <ul class="footer__nav-list d-flex list-unstyled mb-0">
              <li class="footer__nav-item mx-3">
                <a href="./index.html" class="footer__nav-link" data-page="index">Inicio</a>
              </li>
              <li class="footer__nav-item mx-3">
                <a href="./speakers.html" class="footer__nav-link" data-page="speakers">Speakers</a>
              </li>
              <li class="footer__nav-item mx-3">
                <a href="./aboutus.html" class="footer__nav-link" data-page="aboutus">Acerca de</a>
              </li>
              <li class="footer__nav-item mx-3">
                <a href="./contact.html" class="footer__nav-link" data-page="contact">Contacto</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Redes sociales a la derecha -->
        <div class="col-12 col-md-3 d-flex justify-content-start footer__social-container">
          <div class="footer__social">
            <a class="footer__social-link mx-2" href="https://facebook.com">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a class="footer__social-link mx-2" href="https://twitter.com">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a class="footer__social-link mx-2" href="https://instagram.com">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
