<header class="header navbar navbar-expand-lg">
    <div class="container-fluid">

        <!-- Logo dentro del bloque header -->
        <a href="#" class="header__logo">
            <img src="/src/assets/images/logo.png" alt="Logo" class="header__logo-image">
        </a>

        <nav class="navbar navbar-expand-lg navbar-light bg-light header__nav">
            <div class="container-fluid">

                <!-- Botón para el menú desplegable en pantallas pequeñas -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menú de navegación (se colapsa en pantallas pequeñas) -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto header__nav-list">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link header__nav-link" data-page="index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a href="./speakers.html" class="nav-link header__nav-link" data-page="speakers">Speakers</a>
                        </li>
                        <li class="nav-item">
                            <a href="./aboutus.html" class="nav-link header__nav-link" data-page="aboutus">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a href="./contact.html" class="nav-link header__nav-link" data-page="contact">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</header>
