// Sobreescritura de variables de Bootstrap
$primary: #00B5FF;
$btn-primary-bg: $primary;
$btn-primary-border: $border-color;
$btn-primary-hover-bg: $white-color;
$btn-box-shadow: 0 4px 8px color(display-p3 0.3 0.3 0.3 / 50%);
$btn-primary-font-size: 1.5dvmin;    // Tamaño de fuente

// Importación de Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Estilos adicionales para asegurar la sobreescritura
.btn-primary {
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
  box-shadow: $btn-box-shadow;
  color:$white-color;
  font-family: $font-family-secundary; /* Familia tipográfica */
  font-size: $btn-primary-font-size;        /* Tamaño de fuente */

  &:hover {
    background-color: $btn-primary-hover-bg;
    color:$primary;
  }
}
