
@layer components {
  .btn-primary {
      background-color: color(display-p3 0.2 0.6 0.8);
      border-color: color(display-p3 0.2 0.6 0.8);
  }

  .btn-primary:hover {
      background-color: color(display-p3 0.3 0.7 0.9);
  }

  .shadow {
      box-shadow: 0 4px 8px color(display-p3 0.3 0.3 0.3 / 50%);
  }
}
